<section class="gallery-section container">
  <form class="search-form js-search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="search-btn" type="submit">Search</button>
    <!-- <label
      style="
        display: flex;
        background-color: rgb(174, 217, 252);
        border-radius: 50px;
        justify-content: space-between;
        align-items: center;
        /* padding: 0 4px; */
        transition: box-shadow var(--transition-properties);
      "
    >
      <input
        class="search-input"
        type="text"
        name="searchInput"
        autocomplete="off"
        placeholder="Search images..."
        style="background-color: transparent; border: none"
      />
      <button
        class="search-btn"
        type="submit"
        style="min-width: 20px; outline: none"
      >
        <svg
          class="search-icon"
          width="15"
          height="15"
          aria-label="search button"
        >
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </label> -->
  </form>

  <div class="gallery js-gallery">
    <!-- Image cards -->
  </div>
  <span class="loader"></span>
  <div class="target-element"></div>
  <button type="button" class="load-more js-load-more is-hidden">
    Load more
  </button>
</section>
