<section class="gallery-section container">
  <form class="search-form js-search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="search-btn" type="submit">Search</button>
  </form>
  <!-- <label>
        <input
          class="search-input"
          type="text"
          name="searchInput"
          autocomplete="off"
          placeholder="Search images..."
        />
        <button class="search-btn" type="submit">
          <svg
            class="search-icon"
            width="15"
            height="15"
            aria-label="search button"
          >
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </label> -->

  <div class="gallery js-gallery">
    <!-- Картки зображень -->
  </div>
  <span class="loader"></span>
  <div class="target-element"></div>
  <button type="button" class="load-more js-load-more is-hidden">
    Load more
  </button>
</section>
